/*

STYLE: ALL STYLES HERE
--> Banner grootte: 680 x 200;
*/

#ad, body{
	width: 680px;
	height: 200px;
}





/*

ANIMATION: ALL ANIMATIONS AND KEYFRAMES HERE
--> Animeren met keyframes
--> Zoek op: 'CSS Keyframes'

*/